body{
    
}
.main .heading h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.heading{
    padding: 10px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.links ul{
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
}
.links ul li{
    padding: 0px 20px 20px;
    display: inline;
}
.links ul li a{
    color: gray;
    text-decoration: none;
}
.links ul li :hover{
   color: blue;
}
.articles{
    font-family: 'Yellowtail', cursive;
    margin-top: 10px;
    padding: 10px 10px 10px;
}
.articles h2{
    font-size: 16px;
    font-family: 'Architects Daughter', cursive;    letter-spacing: 1px;
}
.articles ul{
    list-style: none;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr)) ;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 20px;
}
.pn img{
color: black;    
}

.articles h1{
    font-size: 20px;
    text-align: center;
}
.articles .article1,.article2,.article3,.article4,.article5{
    padding: 10px 30px 10px;
    grid-column: span 2;
    box-sizing: border-box;
	border : 2px solid #fff;
	box-shadow: 1px 1px 10px rosybrown;
    border-radius: 15px;
}
.mode{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}